
:root {
  --font-color--main: #eee;
  --view-color--one: #030303;
  --view-color--two: #090909;
  --navbar-float: #070707;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  height: 100vh;
  font-family: sans-serif;
  color: var(--font-color--main);
}

.view {
  padding-top: 3rem;
}
